<h2>Mis Maquinets</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @maquinets.each do |m| %>
			<tr>
				<td><%=link_to m.name, m%></td>
				<td><a href="<%= edit_maquinet_path(m) %>"><i class="icon-pencil"></i> Editar</a></td>
			</tr>	
		<% end %>
	</tbody>
</table>
<% if current_user.admin? %>
    <%= link_to "Crear Maquinet", new_maquinet_path, class: 'btn btn-primary pull-right' %>
<% end %>
