<h4>Maquinets</h4>
<%= link_to "Crear Maquinet", new_maquinet_path, class: 'btn btn-primary' %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @maquinets.each do |m| %>
			<tr>
				<td><%=link_to m.name, m%></td>
				<td></td>
			</tr>	
		<% end %>
	</tbody>
	</table>