<h2>Administración de Usuarios</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |u| %>
			<tr>
				<td><%=link_to "#{u.first_name} #{u.last_name}", u %></td>
				<td><a href="<%= edit_user_path(u) %>"><i class="icon-pencil"></i> Editar</a></td>
			</tr>	
		<% end %>
	</tbody>
</table>
<%= link_to "Crear Usuario", new_user_path, class: 'btn btn-primary pull-right' %>
