// Place all the styles related to the maquinet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$graphPadding: 30px;

a.popup-selector {
	cursor: pointer
}

.ui-rangeSlider {
	padding-top: 0px;
}

#earnings-graph {
	padding-left: $graphPadding;
	padding-right: $graphPadding;
}

#spinner {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red
}